.r_tbdr{
     border:1px dashed #000
}
.r_cont{
    height: 620px;
}


.r_mysection{
    
    border:5px solid #4da072 !important;
    
}
.r_h33{
    height: 220px;
}
.r_h33_c{
    background-image: url("../img/hand1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center bottom;
        
}
.r_btn1{
    width: 45px;
    height:30px;
    border-style: outset;
    border-color: #010a0267;
    box-shadow: 2px 2px 0px 0px  rgb(26, 110, 89);
    margin-bottom: 4px;
    background-color: #9fc463
    
}


    

